* {
  padding: 0;
  margin: 0;
}

#dropdownmenu {
  display: flex;
  background-color: rgba(#333, .2);

  .dropdown-item {
    position: relative;

    a {
      font-size: 20px;
      text-decoration: none;
      display: block;
      padding: 10px 5px;
      color: #000;
    }

    &:hover {
      a + .dropdown-submenu {
        display: block;
      }
    }

    &.has-submenu {
      .dropdown-submenu {
        display: none;
        position: absolute;
        width: 180px;
        height: 43px;

        .dropdown-item {
          position: relative;

          &:hover {
            & > .dropdown-submenu {
              display: block;
              left: 100%;

              .dropdown-item {
                top: -43px;
              }
            }
          }
        }

        .dropdown-item .dropdown-submenu {
          display: none;
        }
      }
    }
  }
}